/*! Copyright 2009 Morten Lauritsen Khodabocus, info@molk.ch
 *  Licensed under the GPL: http://molk.ch/licence.txt
 */
/* base.css: The basic formatting/layout which is common to all page
             elements. */
.clear,.clear-both
{
	clear:both;
}

.clear-left
{
	clear:left;
}

.clear-right
{
	clear:right;
}

body
{
	font-family:sans-serif;
	text-align:left;
	color:#700;
	background-color:#fff;
}

a
{
	color:#550;
}

a:hover,a:focus
{
	color:#000;
}

img
{
	border-style:none;
}
