/* content.css: Formatting of the core content of the page. */
#content
{
	padding:1em;
	clear:left;
}

#content p
{
	margin-top:.5em;
}

#content p:first-letter
{
	font-family:serif;
	margin-left:.5em;
	font-weight:700;
}

#content .summary,#content dt
{
	font-size:110%;
}

#content > h1
{
	padding:1.5em 0 0;
	margin:.5em 0;
}

#content h2,#content h3,#content h4,#content dt
{
	margin:.5em 0;
}

#content ol
{
	margin-left:2em;
}

#content ul,#content dd
{
	margin-left:1em;
}

#content dl,#content dl dt
{
	margin-left:0;
}

#content li,#content dt
{
	margin-top:.5em;
}

#content table
{
	margin:1em;
	border-collapse:collapse;
}

#content table th,#content table td
{
	border-style:solid;
	border-color:#700;
	padding:.2em .5em .2em .1em;
}

#content table th
{
	font-size:120%;
	font-weight:400;
	border-width:1px 1px 3px;
	text-align:center;
}

#content table th + th
{
	border-left-width:3px;
}

#content table td
{
	color:#700;
	background-color:#fff;
	border-width:1px;
	text-align:left;
}

/* Style for inline code samples */
#content span.code
{
	white-space:nowrap;
	vertical-align:middle;
}

/* Style for block code samples */
#content pre.code
{
	background-color:#ccc;
	border:solid 1px #700;
	margin-top:1em;
	margin-bottom:1em;
	margin-left:5em;
	margin-right:10em;
	padding:1em;
	overflow:auto;
}

/* Style common to inline and block code samples */
#content .code
{
	color:#000;
	font-family:monospace;
}

/* Style for quotes */
#content quote
{
	background-color:#ccc;
	border:solid 1px #700;
	color:#000;
	display:block;
	font-family:serif;
	margin:1em;
	padding:1em;
}
