/* crumbs.css: Layout of the top-center element which locates the page in the
               global site hierarchy. */
#crumbs
{
	float:left;
	line-height:2em;
	list-style-type:none;
	margin:0;
	padding:.5em 0;
}

#crumbs li
{
	display:inline;
}

#crumbs li:before
{
	content:"/ ";
}
