/* footer.css: Formatting of the page footer. */
#footer
{
	clear:both;
/* Left and right auto-margins centers the element */
	margin:1em auto;
	width:80%;
}

#footer > hr
{
	background-color:#700;
	border:0;
	color:#700;
	height:1px;
}

#back-link-parent
{
	float:left;
	margin-left:10%;
}

#feedback-link
{
	float:right;
	margin-right:10%;
}

#rights
{
	clear:both;
	font-size:80%;
	text-align:center;
}
