/* hbar: The horizontal bar under the first-level navigation (tabs). */
#hbar
{
	width:100%;
	height:2em;
	clear:right;
	float:right;
	background-color:#700;
}

#dates
{
	bottom:0;
	color:#fff;
	display:inline;
	font-size:.7em;
	left:0;
	margin-left:1em;
	position:absolute;
}

#updated
{
	margin-left:1em;
}

#formats
{
	font-size:80%;
	list-style-type:none;
	margin-left:1em;
	margin-right:1em;
	text-align:center;
	position:absolute;
	right:13em;
	bottom:0;
}

#formats
{
	padding:0;
	margin:0;
}

#formats li
{
	display:inline;
}

#formats li + li
{
	margin-left:.5em;
	padding-left:.7em;
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#fff;
}

#formats a
{
	color:#ee0;
	text-decoration:none;
}

#formats a:hover,#formats a:focus
{
	text-decoration:underline;
}
