/*! Copyright 2009 Morten Lauritsen Khodabocus, info@molk.ch
 *  Licensed under the GPL: http://molk.ch/licence.txt
 */
/* images.css: The images for rounded corners. */
.on-red
{
	background-color:#700;
}

.on-grey
{
	background-color:#ccc;
}

.with-corners
{
	position:relative;
}

.corner
{
	background-repeat:no-repeat;
	display:block;
	height:5px;
	position:absolute;
	width:5px;
}

.bottom-left
{
	bottom:0;
	left:0;
	background-image:url(bottom-left.png);
}

.bottom-right
{
	bottom:0;
	right:0;
	background-image:url(bottom-right.png);
}

.top-left
{
	top:0;
	left:0;
	background-image:url(top-left.png);
}

.grey-top-left
{
	top:0;
	left:0;
	background-image:url(top-left-gr.png);
}

.top-right
{
	top:0;
	right:0;
	background-image:url(top-right.png);
}

.grey-top-right
{
	top:0;
	right:0;
	background-image:url(top-right-gr.png);
}

.outside-bottom-left
{
	bottom:0;
	left:-5px;
	background-image:url(bottom-right-inv.png);
}

.outside-grey-bottom-left
{
	bottom:0;
	left:-4px;
	background-image:url(bottom-right-gr-inv.png);
}

.outside-bottom-right
{
	bottom:0;
	right:-5px;
	background-image:url(bottom-left-inv.png);
}

.outside-grey-bottom-right
{
	bottom:0;
	right:-4px;
	background-image:url(bottom-left-gr-inv.png);
}

.outside-top-left
{
	top:0;
	left:-5px;
	background-image:url(top-right-inv.png);
}

.outside-top-right
{
	top:0;
	right:-5px;
	background-image:url(top-left-inv.png);
}
