/* nav.css: The first-level navigation layout - tabs in a notebook - style. */
#nav
{
	clear:right;
	float:right;
	line-height:1em;
	list-style-type:none;
	width:99%;
	padding:0;
	margin:0;
}

#nav li
{
	background-color:#ccc;
	float:left;
	margin:0 8px;
}

#nav a
{
	padding:.55em 0;
	width:5em;
	font-size:90%;
	display:block;
	color:#000;
	text-align:center;
	text-decoration:none;
}

#nav a:hover,#nav a:focus
{
	text-decoration:underline;
}

/* active */
#nav li.active
{
	background-color:#700;
}

#nav li.active a
{
	color:#fff;
	text-decoration:none;
}
