/* footer.css: Formatting of the page footer. */
#noscript
{
	clear:both;
	display:block;
/* Left and right auto-margins centers the element */
	margin:1em auto;
	width:80%;
	text-align:center;
}

#noscript > hr
{
	border:0;
	height:1px;
	color:#700;
	background-color:#700;
}
