/* sidebar.css: Sidebar on the right, which contains the second level
   navigation and the validation certificates. */
#sidebar
{
/* Making the sidebar inline means it will shrink to fit it's contents */
	display:inline;
	clear:right;
	float:right;
}

#subnav,#sibnav
{
	list-style-type:none;
	margin:0;
	padding:1em 2em;
	white-space:nowrap;
	width:10em;
}

#subnav
{
	background-color:#700;
	font-size:110%;
}

#subnav a
{
	color:#ee0;
	text-decoration:none;
}

#subnav a:hover,#subnav a:focus
{
	text-decoration:underline;
}

#subnav .active
{
	color:#ee0;
	list-style-type:disc;
}

#subnav .active a:hover,#subnav .active a:focus
{
	text-decoration:none;
}

#sibnav
{
	background-color:#fff;
	font-size:90%;
}

#sibnav a
{
	color:#700;
	text-decoration:none;
}

#sibnav a:hover,#sibnav a:focus
{
	text-decoration:underline;
}

#sibnav .active
{
	color:#700;
	list-style-type:disc;
}

#sibnav .active a:hover,#sibnav .active a:focus
{
	text-decoration:none;
}

#cert
{
	float:right;
	list-style-type:none;
	margin:0;
	padding:1em;
	background-color:#fff;
}

#cert li + li
{
	margin-top:1em;
}

#cert .image
{
	border:0;
	width:88px;
	height:31px;
}
