/* utils.css: The top-right links to pages which are outside the navigation
              and accessible from all pages on the site. */
#utils
{
	float:right;
	line-height:2em;
	list-style-type:none;
	margin:0;
	padding:.5em 0;
}

#utils li
{
	display:inline;
	padding:0 .5em;
}

#utils form,#utils input
{
	display:inline;
	width:10em;
	height:1em;
	color:#000;
	background-color:#ccc;
	border:1px solid #ccc;
	margin:0;
	font-size:1em;
	padding:.1em;
}

#utils form label
{
	display:none;
}

#utils form div
{
	display:inline;
}

#utils li + li
{
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#700;
}

#utils .active a
{
	color:#700;
	text-decoration:none;
}

#utils .active a:hover,#utils .active a:focus
{
	color:#000;
	text-decoration:none;
}
