/*! Copyright 2010 Morten Lauritsen Khodabocus, info@molk.ch
 *  Licensed under the GPL: http://molk.ch/licence.txt
 */
#content.images p
{
	float:left;
}

#content.images h1,h2,h3,h4
{
	float:left;
	clear:left;
}

#content.images img.image
{
	float:left;
	max-width:75%;
	height:auto;
	margin:0;
	padding:5px;
}

#content.images a.image
{
	float:left;
	max-width:75%;
	height:auto;
	margin:0;
	padding:5px;
}

#content.images a.image > img
{
	max-width:100%;
	height:auto;
	margin:0;
	padding:0;
}
