/*! Copyright 2009 Morten Lauritsen Khodabocus, info@molk.ch
 *  Licensed under the GPL: http://molk.ch/licence.txt
 */
/* print.css: Optimised for printing */
#logo,#nav,#skip,#utils,#sidebar,#hbar div.corner,#back-link,#feedback-link
{
	display:none;
}

.clear-both
{
	clear:both;
}

.clear-left
{
	clear:left;
}

.clear-right
{
	clear:right;
}

body
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	color:#000;
	background:#FFF;
}

img
{
	border-style:none;
}

a
{
	color:#000;
}

#logo
{
	list-style-type:none;
	float:left;
}

#crumbs
{
	float:right;
}

#crumbs ol
{
	display:inline;
	list-style-type:none;
}

#crumbs li
{
	display:inline;
}

.content
{
	clear:left;
}
