/*! Copyright 2009 Morten Lauritsen Khodabocus, info@molk.ch
 *  Licensed under the GPL: http://molk.ch/licence.txt
 */
/* simple.css: minimal function style, no graphics and minimal layout */
.clear-both
{
	clear:both;
}

.clear-left
{
	clear:left;
}

.clear-right
{
	clear:right;
}

body
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	color:#000;
	background:#FFF;
}

img
{
	border-style:none;
}

a
{
	color:#7b0600;
}

a:hover
{
	color:#FC0;
}

#logo
{
	list-style-type:none;
	float:left;
}

#crumbs
{
	float:right;
}

#crumbs ol
{
	display:inline;
	list-style-type:none;
}

#crumbs li
{
	display:inline;
}

#utils
{
	clear:right;
	float:right;
}

#utils li
{
	display:inline;
}

#nav
{
	clear:both;
	float:left;
}

#nav ul
{
	display:inline;
}

#nav li
{
	display:inline;
}

#sidebar
{
	clear:right;
	float:right;
}

#sidebar ul
{
	list-style-type:none;
}

.content
{
	clear:left;
}
