/*! Copyright 2010 Morten Lauritsen Khodabocus, info@molk.ch
 *  Licensed under the GPL: http://molk.ch/licence.txt
 */
#my-picture
{
	float:right;
	margin:0;
	padding:5px;
}

#my-picture > img
{
	display:block;
	height:265px;
	width:204px;
	margin:0;
	padding:0;
}

#social
{
	line-height:2em;
	list-style-type:none;
	margin:0;
	padding:.5em 0;
}

#social li
{
	display:inline;
	padding:0 .5em;
}

#social li a
{
	text-decoration:none;
}
