/*! Copyright 2010 Morten Lauritsen Khodabocus, info@molk.ch
 *  Licensed under the GPL: http://molk.ch/licence.txt
 */
#content .colour-check
{
	border:1px #000 solid;
	margin:1em;
	padding:1em 1em 1em 2em;
}

#content .bg-content
{
	background-color:#fff;
}

#content .bg-content .fg-normal
{
	color:#700;
}

#content .bg-content .fg-code
{
	color:#000;
}

#content .bg-content .fg-link
{
	color:#550;
}

#content .bg-inactive
{
	background-color:#ccc;
}

#content .bg-inactive .fg-inactive
{
	color:#000;
}

#content .bg-active
{
	background-color:#700;
}

#content .bg-active .fg-normal
{
	color:#fff;
}

#content .bg-active .fg-link
{
	color:#ee0;
}
