/*! Copyright 2017 Morten Lauritsen Khodabocus, info@molk.ch
 *  Licensed under the GPL: http://molk.ch/licence.txt
 */
#links
{
	float:left;
}

#content p
{
	float:left;
}

#links .highlighted
{
	font-weight:700;
}

#links .unhighlighted
{
	font-weight:400;
}

#links .selected
{
	display:visible;
}

#links .unselected
{
	display:none;
}

ul#links,#links ul,#links ol,#links-tag-filter ul
{
	list-style-type:none;
	list-style-position:inside;
	padding-left:0;
	margin-left:0;
}

#links li,#links dd
{
	margin-left:1em;
}

#links-tag-filter
{
	float:right;
	padding:1em;
}

#links-tag-filter a
{
	text-decoration:none;
}

#links-tag-filter .filter
{
	font-weight:700;
}

#links-tag-filter .nofilter
{
	font-weight:400;
}
