/*! Copyright 2017 Morten Lauritsen Khodabocus, info@molk.ch
 *  Licensed under the GPL: http://molk.ch/licence.txt
 */
#root
{
	float:left;
	border:2px solid #000;
	width:90%;
	padding:1em;
	margin:1em;
}

#links
{
	float:left;
	border:1px solid green;
	padding:1em;
}

#links ul
{
	list-style-type:none;
}

#links-tag-filter ul
{
	list-style-type:none;
}

#links-tag-filter
{
	float:right;
	border:1px solid grey;
	padding:1em;
}

#links-tag-filter a
{
	text-decoration:none;
}
